/* The Modal (background) */
.modalContainer {
  /* display: none; */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.modalContent {
  margin: auto;
  text-align: center;
}

.modalImage {
  display: inline-block;
}

/* The Close Button */
.closeButton {
  display: block;
  font-size: 28px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.closeButton:focus,
.closeButton:hover {
  text-decoration: none;
  cursor: pointer;
}
