.navbar {
  display: flex;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 50, 50);
}

.searchbar {
  height: 30px;
  width: 50%;
}
